<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />

</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main">

		<section class="jumbotron text-center">
			<img class="d-block mx-auto" th:src="@{/image/logo_mp.png}"
				width="72" height="72">
			<div class="container">
				<h1 class="jumbotron-heading">Milk Point</h1>
				<p class="lead text-muted">CADASTRO DE RESPONSÁVEIS</p>
			</div>
		</section>

		<div class="album py-5 bg-light">
			<div class="container">

				<div class="d-flex justify-content-center">
					<div class="col-md-8 ">

						<div th:replace="fragments/alert :: alerta-sucesso"></div>

						<p class="lead text-muted">Dados Cadastrais</p>
						<hr/>
						<form th:action="@{/responsavel/save}" th:object="${responsavel}" method="POST" class="was-validated">
							
							<div class="form-group row col-md-7" style="float: left;">
								<label for="nome">Nome Completo</label>
								<div class="input-group">
									<input type="text" class="form-control" id="nome" placeholder="insira seu nome completo" 
											aria-describedby="validationTooltipUsernamePrepend"
										    th:field="*{nome}" required />
									<div class="invalid-feedback">Nome é requerido.</div>
								</div>
							</div>
							
							<div class="form-group row col-md-5" style="margin-left: auto;">
								<label for="nome">Apelido</label>
								<div class="input-group">
									<input type="text" class="form-control" id="apelido" placeholder="Insira seu apelido" 
											aria-describedby="validationTooltipUsernamePrepend"
										    th:field="*{apelido}"/>
									<div class="invalid-feedback">Apelido é requerido.</div>
								</div>
							</div>
							
							<br>
							
							<div class="form-group row col-md-7" style="float: left;">
								<label for="nome">CPF</label>
								<div class="input-group">
									<input type="text" class="form-control" id="cpf" placeholder="Insira seu CPF" 
											aria-describedby="validationTooltipUsernamePrepend"
										    th:field="*{cpf}" required />
									<div class="invalid-feedback">CPF é requerido.</div>
								</div>
							</div>
							
							<div class="form-group row col-md-5" style="margin-left: auto;">
	                        	<label for="dataNascimento">Data de Nascimento</label>
		                        <input type="date" class="form-control" id="dataNascimento" th:field="*{dataNascimento}"
		                        	   th:classappend="${#fields.hasErrors('dataNascimento')} ? 'is-invalid'" required/>
		                        <div class="invalid-feedback">A data de nascimento é requerido.<span th:errors="*{dataNascimento}"></span>
	                        	</div>
	            			</div>
							
							<p class="lead text-muted">Endereço</p>
							<hr/>
							
							<div class="form-group row col-md-7" style="float: left;">
								<label for="cep">CEP</label>
								<div class="input-group">
								<input type="text" class="form-control" id="cep" autofocus="autofocus" onkeydown="javascript: fMasc( this, mCEP );"
									onblur="pesquisacep(this.value);" placeholder="Insira seu CEP" maxlength="9" th:field="*{cep}" required />
									<div class="invalid-feedback">CEP é requerido.</div>
								</div>
							</div>							
							
							<div class="form-group row col-md-5" style="margin-left: auto;">
								<label for="uf">Estado</label>
								<div class="input-group">
									<input type="text" class="form-control" id="uf" placeholder="Insira seu estado" 
											aria-describedby="validationTooltipUsernamePrepend" th:field="*{uf}" required />
									<div class="invalid-feedback">O estado é requerido.</div>
								</div>
							</div>
							
							<div class="form-group row col-md-7" style="float: left;">
								<label for="cidade">Cidade</label>
								<div class="input-group">
									<input type="text" class="form-control" id="localidade" placeholder="Insira sua cidade" 
											aria-describedby="validationTooltipUsernamePrepend" th:field="*{localidade}" required />
									<div class="invalid-feedback">A cidade é requerida.</div>
								</div>
							</div>
							
							<div class="form-group row col-md-5" style="margin-left: auto;">
								<label for="bairro">Bairro</label>
								<div class="input-group">
									<input type="text" class="form-control" id="bairro" placeholder="Insira seu bairro" 
											aria-describedby="validationTooltipUsernamePrepend" th:field="*{bairro}" required />
									<div class="invalid-feedback">O bairro é requerido.</div>
								</div>
							</div>
							
							<div class="form-group row col-md-7" style="float: left;">
								<label for="logradouro">Rua</label>
								<div class="input-group">
									<input type="text" class="form-control" id="logradouro" placeholder="Insira sua rua" 
											aria-describedby="validationTooltipUsernamePrepend" th:field="*{logradouro}" required />
									<div class="invalid-feedback">A rua é requerida.</div>
								</div>
							</div>
							
							<div class="form-group row col-md-5" style="margin-left: auto;">
								<label for="complemento">Complemento</label>
								<div class="input-group">
									<input type="text" class="form-control" id="complemento" placeholder="Insira um complemento" 
											aria-describedby="validationTooltipUsernamePrepend" th:field="*{complemento}"/>
									<div class="invalid-feedback">O complemento é requerido</div>
								</div>
							</div>
							
							<br>
							
							<p class="lead text-muted">E-mail e Senha</p>
							<hr/>
							
							<div class="form-group row col-md-7" style="float: left;">
								<label for="email">E-mail</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text" 
												id="validationTooltipUsernamePrepend">@</span>
									</div>
									<input type="email" class="form-control" id="email"
										    th:field="*{email}" placeholder="E-mail"
										    aria-describedby="validationTooltipUsernamePrepend" required />
									<div class="invalid-feedback">E-mail é requerido.</div>
								</div>
							</div>
							
							<div class="form-group row col-md-5" style="margin-left: auto;">
								<label for="senha">Senha</label> 
								<input type="password" class="form-control" id="senha" maxlength="6"
									placeholder="Insira sua senha de acesso" th:field="*{password}" required />
								<div class="invalid-feedback">Senha é requerida para confirmar a operação.</div>
							</div>
							
							<div class="mb-3">
								<label for="textarea">Descrição</label>
								<div class="input-group">
									<textarea type="text" class="form-control" placeholder="Insira suas observações, se assim desejar" 
										th:field="*{descricao}"/></textarea>
								</div>
							</div>							

							<input type="hidden" th:field="*{id}"> 
							<div class="form-group row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-success"
										data-toggle="tooltip" data-placement="right" title="Salvar">
										<i class="fas fa-save"></i>
									</button>
									<button type="button" class="btn btn-danger" onClick="window.location='javascript:history.back()';"  
										data-toggle="tooltip" data-placement="right" title="Cancelar">						
										<i class="fas fa-window-close"></i>
									</button>
								</div>
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</div>

		</main>

	</section>
	<script th:src="@{/js/maskcpf.js}"></script>
	<script th:src="@{/js/buscacep.js}"></script>
	<script	th:src="~{}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>